h1 {
    font-family: cursive;
    text-align: center;
    background-color: darkolivegreen;
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

body {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    position: relative;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px; /* Espaçamento entre as imagens */
    margin-top: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.image-item {
    text-align: center;
    flex: 1 1 30%;
    max-width: 150px;
    border-radius: 20px;
}

.image {
    width: 100%;
    max-width: 250px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.image-caption {
    font-size: 18px;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    color: darkolivegreen;
    border-radius: 20px;
    font-family: cursive;
}

